* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff; 
  }
 
  ::-webkit-scrollbar{ display: none }

  body {
    background-color: blue;
    /*how much i want to scroll down plus the actual height of the browser*/
    min-height: calc( 3000px + 100vh);
  }

  div.sticky{
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 10;
    top: 20;
  }



  h1  {
    font-family: 'Oregano', cursive;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    font-size: 60px;
    padding: 10px;
    text-align: center;
  }


  div.text{

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    position: fixed;
    /*position just below the textTop div*/
    top: 15vh;
    width: 100%;
    max-width: 900px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    top: 20%; /* 15vh from bottom of viewport */
   
    /*center the div*/
    left: 50%;
    transform: translateX(-50%); 
   

  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 1s linear;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  div.text {
    font-size: 16px;
    margin:0em;
    max-width: 300px;
     /*center the div*/
    
    
     border: 3px solid green;
 
  }
}